* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.header{
  display: flex;
  justify-content: space-between;
  margin: 10px;
  border: 1px solid black;
}

.Nav-items > ul {
  list-style-type: none;
  display: flex;
}

.Nav-items > ul > li {
  padding: 10px;
  font-weight: 400;
  font-size: 20px;
}